<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.priyanshu.health2u">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->

    <permission android:protectionLevel="signature"
        android:name="com.example.priyanshu.health2u.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.priyanshu.health2u.permission.C2D_MESSAGE" />

    <application
        android:name=".controller.App"
        android:allowBackup="true"
        android:icon="@drawable/health_logo_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".controller.FetchAddressIntentService"
            android:exported="false"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="true" />
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="f0VjpDxUMKsGy6J2qkKQtRtFu1yIpwLYKI0FoRC5" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="EcfsSfTyXG88fqxc2BnIhKNziCKyecPY9OnuDQF8" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".controller.DrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNmNuYNZEOKLLAvzztDvBTsj4ehNfy2RE" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".controller.ClinicDetail" />
        <activity android:name=".controller.DateSelect" />
        <activity android:name=".controller.PatientDetails" />
        <activity android:name=".controller.SelectServices" />
        <activity android:name=".controller.ViewBooking" />
        <activity android:name=".controller.ViewBooking2" />
        <activity android:name=".controller.ClinicSearch" />
        <activity android:name=".controller.AdminActivity" />
        <activity android:name=".controller.AdminLogin" />
        <activity android:name=".controller.MyDispatchActivity" />
        <activity android:name=".controller.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.PharmacyDetail" />
        <activity
            android:name=".controller.AdminNavigation"
            android:label="@string/title_activity_admin_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.UserNavigation"
            android:label="UserNavigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controller.BookingDetails" />
        <activity android:name=".controller.QueueActivity" />
        <activity android:name=".controller.QueueDetails" />

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.example.priyanshu.health2u" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
